trigger:
  branches:
    include:
      - "*"

pool:
  vmImage: 'windows-latest'

variables:
  BUILD_NUMBER: $(Build.BuildId)

steps:
- checkout: self

- task: UseDotNet@2
  displayName: 'Install .NET'
  inputs:
    version: '8.x'

- script: dotnet tool install -g browserstack-sdk --version 1.18.1
  displayName: 'Install BrowserStack SDK Globally'

- script: dotnet build MySolution.sln --configuration Release
  displayName: 'Build All Projects'
  workingDirectory: src

- task: BrowserStackConfig@0
  displayName: 'BrowserStack - Config'
  inputs:
    BrowserStackServiceEndPoint: 'AS-Browserstack'

- script: dotnet browserstack-sdk --config ../browserstack.yml --project SeleniumTests/SeleniumTests.csproj
  displayName: 'Run BrowserStack Tests via SDK'
  workingDirectory: src
  env:
    BROWSERSTACK_USERNAME: $(BROWSERSTACK_USERNAME)
    BROWSERSTACK_ACCESS_KEY: $(BROWSERSTACK_ACCESS_KEY)
    BUILD_NUMBER: $(Build.BuildId)

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifacts'
  inputs:
    PathtoPublish: 'SeleniumTests/TestResults'
    ArtifactName: 'TestResults'