trigger: none
pr: none

variables:
- group: Release Automation Suite Variables
- group: Release Automation Suite Variables (Db)

resources:
  repositories:
  - repository: self
  pipelines:
  - pipeline: das-enterprise-automation-test-suite
    project: Digital Apprenticeship Service
    source: das-enterprise-automation-test-suite
    branch: auth_test_scenarios

stages:
- stage: Deploy_TEST
  dependsOn: []
  displayName: Running tests on TEST
  variables:
  - group: TEST DevTest Shared Resources
  - group: TEST Automation Suite Variables
  jobs:
  - deployment: RunTests
    pool:
      vmImage: windows-2019
    environment: TEST
    workspace:
      clean: all
    strategy:
      runOnce:
        deploy:
          steps:
          - task: ExtractFiles@1
            displayName: 'Extract files'
            inputs:
              archiveFilePatterns: '$(Pipeline.Workspace)/**/*.zip'
              destinationFolder: '$(Pipeline.Workspace)/das-enterprise-automation-test-suite/drop/tests'
              cleanDestinationFolder: true
          - task: esfadevops.Tokenization.custom-build-task.Tokenization@0
            displayName: 'Tokenization: Transform file *.json'
            inputs:
              SourcePath: '$(Pipeline.Workspace)/das-enterprise-automation-test-suite/drop/tests'
              TargetFileNames: '*.json'
          - task: PowerShell@2
            displayName: 'Update NumberOfTestWorkers'
            inputs:
              targetType: filePath
              filePath: '$(Pipeline.Workspace)/das-enterprise-automation-test-suite/drop/src/UpdateNoofTestWorkers.ps1'
              arguments: '-browser local'
          - task: esfadevops.Tokenization.custom-build-task.Tokenization@0
            displayName: 'Tokenization: Transform file *.runsettings'
            inputs:
              SourcePath: '$(Pipeline.Workspace)/das-enterprise-automation-test-suite/drop/runsettings/src/'
              TargetFileNames: '*.runsettings'
          - task: ms-autotest.screen-resolution-utility-task.screen-resolution-utlity-task.ScreenResolutionUtility@1
            displayName: 'Set Screen Resolution'
            inputs:
              displaySettings: specific
              width: 1920
              height: 1080
          - task: VSTest@2
            displayName: 'VsTest - Test Execution'
            inputs:
              testAssemblyVer2: |
                **\SFA.DAS.FAT-V2.UITests\SFA.DAS.FAT-V2.UITests.dll
                **\SFA.DAS.FindEPAO.UITests\SFA.DAS.FindEPAO.UITests.dll
              #  **\SFA.DAS.AggregatedEmployerDemand.UITests\SFA.DAS.AggregatedEmployerDemand.UITests.dll
              #  **\SFA.DAS.ApprenticeCommitments.UITests\SFA.DAS.ApprenticeCommitments.UITests.dll
              #  **\SFA.DAS.Approvals.UITests\SFA.DAS.Approvals.UITests.dll
              #  **\SFA.DAS.Campaigns.UITests\SFA.DAS.Campaigns.UITests.dll
              #  **\SFA.DAS.EmployerFinance.UITests\SFA.DAS.EmployerFinance.UITests.dll
              #  **\SFA.DAS.EmployerIncentives.UITests\SFA.DAS.EmployerIncentives.UITests.dll
              #  **\SFA.DAS.EPAO.UITests\SFA.DAS.EPAO.UITests.dll
              #  **\SFA.DAS.RAA-V2-Employer.UITests\SFA.DAS.RAA-V2-Employer.UITests.dll
              #  **\SFA.DAS.RAA-V2-Provider.UITests\SFA.DAS.RAA-V2-Provider.UITests.dll
              #  **\SFA.DAS.RAA-V2-QA.UITests\SFA.DAS.RAA-V2-QA.UITests.dll
              #  **\SFA.DAS.Registration.UITests\SFA.DAS.Registration.UITests.dll
              #  **\SFA.DAS.Roatp.UITests\SFA.DAS.Roatp.UITests.dll
              #  **\SFA.DAS.RoatpAdmin.UITests\SFA.DAS.RoatpAdmin.UITests.dll
              #  **\SFA.DAS.SupportConsole.UITests\SFA.DAS.SupportConsole.UITests.dll
              #  **\SFA.DAS.Transfers.UITests\SFA.DAS.Transfers.UITests.dll
              searchFolder: '$(Pipeline.Workspace)/das-enterprise-automation-test-suite/drop/tests/'
              testFiltercriteria: 'TestCategory=captureurl'
              runSettingsFile: '$(Pipeline.Workspace)/das-enterprise-automation-test-suite/drop/runsettings/src/Parellel.runsettings'
              runInParallel: false
              otherConsoleOptions: '/logger:trx'
              rerunFailedTests: true
              rerunFailedThreshold: 10
              rerunMaxAttempts: 2
            continueOnError: true
          - task: PowerShell@2
            displayName: 'Check .trx File Exists'
            inputs:
              targetType: filePath
              filePath: '$(Pipeline.Workspace)/das-enterprise-automation-test-suite/drop/src/Check-TestResults.ps1'
              arguments: '-SourcePath "$(Agent.TempDirectory)/TestResults"'
