trigger:
  batch: true
  branches:
    include:
      - "*"

workspace:
  clean: all

variables:
  buildConfiguration: 'release'

resources:
  repositories:
  - repository: das-platform-building-blocks
    type: github
    name: SkillsFundingAgency/das-platform-building-blocks
    ref: refs/tags/2.1.28
    endpoint: SkillsFundingAgency

pool:
  vmImage: 'windows-latest'

steps:
- template: azure-pipelines-templates/build/step/gitversion.yml@das-platform-building-blocks

- task: DotNetCoreCLI@2
  displayName: dotnet build
  inputs:
    projects: 'src/**/*.csproj'
    arguments: '--configuration $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'dotnet pack'
  inputs:
    command: 'pack'
    projects: 'src/**/*.csproj'
    packDirectory: '$(build.artifactstagingdirectory)/publish'
    arguments: '--configuration $(buildConfiguration) --no-restore'

- task: DotNetCoreCLI@2
  displayName: 'dotnet publish'
  inputs:
    command: publish
    publishWebProjects: false
    zipAfterPublish: false
    projects: 'src/**/*Tests.csproj'
    arguments: '--configuration $(buildConfiguration) --output $(build.artifactstagingdirectory)/tests --no-restore --no-build'

- task: CopyFiles@2
  displayName: 'Copy config and support files'
  inputs:
    Contents: |
      src/**/*.sql
      src/**/html2canvas.js
      src/**/appsettings.*.json
      src/**/browserstack.yml
      src/**/*.runsettings
      src/**/Check-TestResults.ps1
      src/**/UpdateNoofTestWorkers.ps1
    TargetFolder: '$(build.artifactstagingdirectory)/tests/files'
    flattenFolders: true
    OverWrite: true

- task: ArchiveFiles@2
  displayName: 'Archive test artifacts'
  inputs:
    rootFolderOrFile: '$(build.artifactstagingdirectory)/tests'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(build.artifactstagingdirectory)/publish/tests.zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    pathtoPublish: '$(build.artifactstagingdirectory)/publish'

- task: DotNetCoreCLI@2
  displayName: 'Run Approvals UI Tests on BrowserStack'
  inputs:
    command: test
    projects: 'src/SFA.DAS.Approvals.UITests/SFA.DAS.Approvals.UITests.csproj'
    arguments: '--configuration $(buildConfiguration)'
  env:
    BROWSERSTACK_USERNAME: $(BROWSERSTACK_USERNAME)
    BROWSERSTACK_ACCESS_KEY: $(BROWSERSTACK_ACCESS_KEY)
    TEST_BROWSER: browserstack
