trigger:
  branches:
    include:
      - "*"

pool:
  vmImage: 'windows-latest'

variables:
  BUILD_NUMBER: $(Build.BuildId)

steps:
- checkout: self

- task: UseDotNet@2
  displayName: 'Install .NET'
  inputs:
    version: '8.x'

- script: dotnet tool restore
  displayName: 'Restore .NET Tools'
  workingDirectory: .

- script: dotnet build src/MySolution.sln --configuration Release
  displayName: 'Build All Projects'

- task: BrowserStackConfig@0
  displayName: 'BrowserStack - Config'
  inputs:
    BrowserStackServiceEndPoint: 'browserstack-connection'

- script: dotnet browserstack-sdk --config browserstack.yml
  displayName: 'Run BrowserStack Tests via SDK'
  env:
    BROWSERSTACK_USERNAME: $(BROWSERSTACK_USERNAME)
    BROWSERSTACK_ACCESS_KEY: $(BROWSERSTACK_ACCESS_KEY)
    BUILD_NUMBER: $(Build.BuildId)

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifacts'
  inputs:
    PathtoPublish: 'src/SeleniumTests/TestResults'
    ArtifactName: 'TestResults'
