trigger:
  batch: true
  branches:
    include:
      - "*"

workspace:
    clean: all

variables:
  buildConfiguration: 'release'

resources:
  repositories:
  - repository: das-platform-building-blocks
    type: github
    name: SkillsFundingAgency/das-platform-building-blocks
    ref: refs/tags/2.1.2
    endpoint: SkillsFundingAgency

pool:
  vmImage: ubuntu-latest

steps:
- template: azure-pipelines-templates/build/step/gitversion.yml@das-platform-building-blocks

- task: DotNetCoreCLI@2
  displayName: dotnet restore
  inputs:
    command: restore
    projects: 'src/**/*.csproj'
    noCache: true

- task: DotNetCoreCLI@2
  displayName: dotnet build
  inputs:
    projects: 'src/**/*.csproj'
    arguments: '--configuration $(buildConfiguration) --no-restore'

- task: DotNetCoreCLI@2
  displayName: dotnet unit test
  inputs:
    command: 'test'
    arguments: '--filter "TestCategory=Unittests" --logger trx;logfilename=UnittestResults.trx'
    projects: 'src/**/*SFA.DAS.Approvals.UITests/SFA.DAS.Approvals.UITests.csproj'

- task: DotNetCoreCLI@2
  displayName: 'dotnet pack'
  inputs:
    command: 'pack'
    projects: 'src/**/*.csproj'
    packDirectory: '$(build.artifactstagingdirectory)/publish'
    arguments: '--configuration $(buildConfiguration) --no-restore'

- task: DotNetCoreCLI@2
  displayName: 'dotnet publish'
  inputs:
    command: publish
    publishWebProjects: false
    zipAfterPublish: false
    projects: 'src/**/*Tests.csproj'
    arguments: '--configuration $(buildConfiguration) --output $(build.artifactstagingdirectory)/tests --no-restore --no-build'

- task: CopyFiles@2
  displayName: 'Copy Check-TestResults.ps1 to: $(build.artifactstagingdirectory)'
  inputs:
    Contents: |     
     src/**/Check-TestResults.ps1
    TargetFolder: '$(build.artifactstagingdirectory)/publish'
    OverWrite: true

- task: CopyFiles@2
  displayName: 'Copy UpdateNoofTestWorkers.ps1 to: $(build.artifactstagingdirectory)'
  inputs:
    Contents: |
     src/**/UpdateNoofTestWorkers.ps1
    TargetFolder: '$(build.artifactstagingdirectory)/publish'
    OverWrite: true

- task: CopyFiles@2
  displayName: 'Copy runsettings to: $(build.artifactstagingdirectory)'
  inputs:
    Contents: |
      src/**/*.runsettings
    TargetFolder: '$(build.artifactstagingdirectory)/publish/runsettings'
    OverWrite: true

- task: CopyFiles@2
  displayName: 'Copy chromedriver to: $(build.artifactstagingdirectory)'
  inputs:
    Contents: |
      src/**/chromedriver.exe
    TargetFolder: '$(build.artifactstagingdirectory)/publish'
    OverWrite: true

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(build.artifactstagingdirectory)/tests'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(build.artifactstagingdirectory)/publish/tests.zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    pathtoPublish: '$(build.artifactstagingdirectory)/publish'
